{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}

    <p>
        <em> This experiment is now complete. Your total payment (show-up fee + decision making) is {{ participant.payoff_plus_participation_fee}}. Please record your total payment on the receipt and bring it to the front. </em>
    </p>

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Study Background</strong></p>
            <p> A central theme of economic research is market efficiency. This study focuses on a specific class of market—prediction markets, and asks whether and why one particular market design is more efficient than another— structured Market Scoring Rule (MSR) prediction market and unstructured MSR prediction market. Prediction markets can be taken as a canonical form of betting markets, in which market participants bet on outcomes of future events, and receive state-contingent payoffs after the events take place. Through the lens of economics, prediction markets are an effective method of aggregating information from a population— economists believe that people’s beliefs can be revealed by their actions and a population’s collective belief can be revealed by interactions in the market.</p>
            <p> Applications of prediction markets include political polling, corporate decision making, epidemic disease forecasting, and many other scenarios, in which each individual may have partial information about the outcome of a future event, but no one has full information about the whole picture. One of the objectives of prediction market research is to use market mechanism to create some sort of "wisdowm of the crowd" effect -- collecting information from a population to make good predictions.</p>
        </div>
    </div>



{% endblock %}

