{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}

    <p>
        <em>After calibrating payments, will decide how many payment relevant rounds to select. </em>
    </p>

    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Laboratory:</strong></p>
            <p>Please remain seated until your number is called. Then take your number card, and proceed to the cashier.</p>
            <p><em>Note: For the cashier in the laboratory, oTree can print a list of payments for all participants as a PDF.</em></p>
        </div>
    </div>



{% endblock %}

