<style>
    img {
        box-shadow: 10px 10px 5px grey;
        } 
</style>

{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Balance
{% endblock %}

{% block content %}
<h3>Initial Balance</h3>
<p>At the beginning of each session, everyone in your group will be given the same amount (ten) of ShruteBucks as initial balance. You will use ShruteBucks to place bets. At the end of each session, your ShruteBuck balance will be recorded, and then reset for the next session. </p>

<h3>Balance Update</h3>
<p>For each prediction task, you can only select one color to bet on (Green or Red). In addition, you can choose the size of your bet (1 share, 2 shares, etc.) and you will be shown the respective prices. Before you submit your bets, you will have access to the price of all potential bets in ShruteBucks.</p>
<p> If your bet matches the outcome, you will receive 1 ShruteBuck for every share you have. For example, if the outcome is red in a session, then you will receive 1 ShruteBuck if you have 1 share of red, 2 ShruteBucks if you have 2 shares of red in this session; however, you will receive 0 ShruteBuck for any amount of green shares in this session. </p>

<img src="https://imgur.com/6Lx4TrU.jpg" width="1000px" />

{% next_button %}
<p>(If the image is not loading properly, please right click on the image icon, and select "Open Image in New Tab".)</p>
{% endblock %}