{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Introduction (Round level)
{% endblock %}

{% block content %}

<p>
    This is an experimental prediction market. There are {{ Constants.num_rounds}} in total, and in each round, you will be randomly assigned into a group of {{ Constants.players_per_group }}. 
    At the beginning of each round, you will have an initial balance of {{ Constants.round_initial_balance }}; at the end of each round, your remaining balance will be recorded. Then your balance will be reset for next round. 
</p>

<p>
    This is round {{ player.subsession.round_number }}
</p>

    {% next_button %}

{% endblock %}


