{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Balance
{% endblock %}

{% block content %}
<p>
    At the beginning of each round, everyone in your group will be given the same amount (ten) of ShruteBucks as initial balance. You will use ShruteBucks to place bets.
    Each token will pay 1 ShruteBuck (or $1 for short) if it matches the outcome/answer of the question, and will pay $0 when it doesn’t match. 
</p>
    
<p>
    For each prediction task, you can only select one possible outcome to place your bets on. However, you may choose the volume of your bet. In short, you can choose the direction and the size of your bets. 
    Before you submit your bets, you will have access to the price of all potential bets in ShruteBucks. 
</p>    

<img src="https://imgur.com/6Lx4TrU" width="500px" />

    {% next_button %}

{% endblock %}