{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instruction: players
{% endblock %}

{% block content %}

<p>
    This experiment will be consisted of {{Constants.num_rounds}} sessions.
In each session, you will be randomly assigned into a group of {{ Constants.players_per_group }}. 
Each of you will be randomly assigned to play a character, and you will only be known to others in the
group as your character’s name. You will only play one character in each session; however, you may play different
characters in different sessions.
</p>

<p>
    For example, you may play character Michael in session 2, and character Kevin in session 3; similarly,
    throughout session 2, the character Dwight will be played by one participant, and throughout session 3, the
    character Dwight may be played by another participant.
</p>

    {% next_button %}

{% endblock %}