{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Balance
{% endblock %}

{% block content %}
<p>
    In each round, prices for any bets are determined by an algorithm. The prices are affected by bets placed by players that have their turn before you.
    The current prices will always be displayed to everyone in your group. As illustrated in the
    example below, when you click on a direction (possible outcome) to place your bet, you will see a dropdown menu, which displays the prices for different volumes. 
    When it is your turn, you will decide the direction and volume to bet on. Notice that all characters in your group will be able to see the direction, volume and prices of your bets.
</p>


<p>
       Remember, the outcome and the accumulated ShruteBucks balance on your account will jointly determine your payoff at the end of the experiment.
</p>

<img src="https://imgur.com/6Lx4TrU" width="500px" />

    {% next_button %}

{% endblock %}