{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Characters
{% endblock %}

{% block content %}
<p>In each section, you will be randomly assigned a character. In the example below, you will be Jim
    throughout session 1; similarly, Michael will be played by another participant in your group throughout
    session 1, and the same holds for other characters.
    
    Each round is consisted of multiple prediction tasks(questions). For each question, all {{ Constants.players_per_group}} characters in
    your group will have a chance to place their bets in a sequential manner. Specifically, for each question, an
    order assignment will be randomly generated, which determines who goes first, second, etc. In the example
    below, you are # 2 in the queue for this question; you will be able to submit your decision after the first player has submitted a decision.</p>

    <img src="https://imgur.com/6Lx4TrU" width="500px" />

    {% next_button %}

{% endblock %}