{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Instruction: payment
{% endblock %}


{% block content %}

<p>
   Remember, your understanding of the game and your decisions will affect your payment at the end of the experiment. 
   So to ensure a good amount of payment for you, and data accuracy for the researchers, you should
   carefully read and understand the rules of the game.
</p>

<p> In each round, your task is to bet on the outcome of an unknown event.   
    Your payments will be determined by your decisions; so the more correct bets you make, the higher your payments will be. 
    It is always in your interest to bet on outcomes that you deem likely, so effectively as you are placing bets on the outcome, you are making predictions about the outcomes.
    Everyone in your group will face the same prediction problems. At the beginning of each round, you will receive a clear description of the prediction tasks-- including context of the prediction task, possible outcomes etc. 
    In addition, each of you will receive a rumour about the outcome of the event. Details about what these rumours are, and where they come from will be explained to you shortly. 
    Always remember, just as those you hear through the grapewine in every day life, rumours are not always reliable, but they can contain relevant information.
    Rumours are at your disposal-- it is up to you to decide whether to pay attention to the rumours when you make your decisions. 
</p>

<p>
    As mentioned, in each round, your group will face a series of prediction tasks. Each player in your group will
take turn to place bets on the respective answers. For each round, you will be given a certain amount of
experimental currency (ShruteBucks). Your ShruteBuck balance at the end of each round
will be recorded and added to your account, and later will be used to calculate your cash payment at the end of the experiment. 
Your ShruteBuck balance will then be reset for the next round.
</p>



    {% next_button %}

{% endblock %}