{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questions and Hints
{% endblock %}

{% block content %}

    <p>
        Each prediction task will resemble the one given in example below. The order assignment associated
        with each question will also be displayed. The outcome will be determined by computer randomly before
        the first character places the bet. Of course, the outcome will not be revealed until the end of the experiment. 
    </p>

    <p> Sometimes you may also get to observe decisions made by other players in your group before you submit your predictions. 
        Remember that others will also receive similar rumours as yours; if you pay attention to other players' decisions, 
        you may be able to infer information useful to help you make better predictions. 
    </p>

   
    <img src="https://imgur.com/6Lx4TrU" width="500px" />

    {% next_button %}

{% endblock %}